<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/clientStat.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <style type="text/css">
        .row a:active {
            display: block;
            border-radius: 25px;
            background-color: white;
            text-align: center;
        }

        #month,
        #female {
            height: 30px;
        }

        .navbar-nav li a {
            line-height: 20px;
        }

        #nav-btn {
            margin-top: 3%
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" id="navContainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1" id="nav-btn">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
                <a href="#" class="pull-left"><img th:src="@{/images/logo2.png}"
					style="height: 70px; width: 230px; padding-top: 10px !important;"
					class="img-responsive"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-right" role="search" id="form-nav">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" id="search"> <span class="input-group-btn">
									<button type="submit" class="btn btn-default" id="submitButton">
										<span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li><a th:href="@{dashboard.html}">Home</a></li>
                    <li><a th:href="@{clients.html}">Clients</a></li>
                    <li><a href="">Traks</a></li>
                    <li><a href="">Reports</a></li>
                    <li>
                        <div class="inset">
                            <img th:src="@{/images/user.png}" />
                        </div>
                    </li>
                    <li>
                        <div style="padding-left: 3px; padding-right: 30px">
                            <label th:utext="${userName}" style="padding-top: 20px; color: white"></label><br /> <a th:href="@{/login?logout}" style="display: inline; height: 15px !important; padding-top: 2px; color: #2085B8">Sign
								Out</a>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>
   
		<div class="page-header">
			<div class="container-fluid firstContainer">
				<div class="row col-md-12 header">

					<div class="col-md-8 dashboardLogo">

						<div class="row col-sm-7" style="padding-bottom: 0px">
							<img th:src="@{/images/ufclogo.png}" alt="User" width="150"
								height="50">
						</div>
						<div class="row col-sm-8">
							<h2
								style="color: black; margin-top: 0px; font-family: 'Orbitron'">
								<b>DASHBOARD</b>
							</h2>
						</div>



					</div>

					<div class="col-md-4 buttonAlign">
						<div id="buttons">
							<button type="button" class="btn btn-primary "
								style="background: #2085B8;">New Evaluation</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid" id="secondContainer">
			<div class="row">


				<div class="row col-md-12">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 ">

								<h4>LEADERBOARD</h4>

								<div class="col-sm-12">

									<div class="row genderDashboard"
										style="margin-bottom: 2px; background-color: #F4F4F4;">
										<h4 style="color: black;">
											<b>MALE</b>
										</h4>
									</div>
								</div>
								<div class="col-md-12" style="background-color: #F4F4F4;">
									<div class="row firstRow">
										<div class="col-sm-2 order">
											<h3>#1</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="male1">
											<h5 style="color: black;">
												<b></b>
											</h5>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row ">
										<div class="col-sm-2 order" >
											<h3>#2</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="male2">
											<h5 style="color: black;">
												<b></b>
											</h5>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row ">
										<div class="col-sm-2 order">
											<h3>#3</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="male3">
											<h5 style="color: black;">
												<b></b>
											</h5>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-2 order">
											<h3>#4</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="male4">
											<h5 style="color: black;">
												<b></b>
											</h5>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row lastRow" >
										<div class="col-sm-2 order">
											<h3>#5</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="male5">
											<h5 style="color: black;">
												<b></b>
											</h5>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>

								</div>

							</div>


							<div class="col-md-6 ">
								<h4>&nbsp;</h4>
								<div class="col-sm-12">
									<div class="row genderDashboard"  
										style="margin-bottom: 2px; background-color: #F4F4F4;">
										<h4
											style=" color: black;">
											<b>FEMALE</b>
										</h4>
									</div>
								</div>
								<div class="col-md-12" style="background-color: #F4F4F4;">
									<div class="row firstRow">
										<div class="col-sm-2 order">
											<h3>#1</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="female1">
											<h4 style="color: black;">
												<b></b>
											</h4>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-2 order">
											<h3>#2</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="female2">
											<h4 style="color: black;">
												<b></b>
											</h4>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-2 order">
											<h3>#3</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="female3">
											<h4 style="color: black;">
												<b></b>
											</h4>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-sm-2 order">
											<h3>#4</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="female4">
											<h4 style="color: black;">
												<b></b>
											</h4>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>
									<br />
									<div class="row lastRow">
										<div class="col-sm-2 order">
											<h3>#5</h3>
										</div>
										<div class="col-sm-3">
											<img th:src="@{/images/user.png}" class="img-circle"
												alt="User" width="70" height="70">
										</div>
										<div class="col-sm-7" id="female5">
											<h4 style="color: black;">
												<b></b>
											</h4>

											<p style="font-size: 11px;">
												TRAKscore: <b></b>
											</p>
										</div>
									</div>


								</div>
							</div>
						</div>

						<div class="statistics">
							<h4 style="padding-top: 15px">STATISTICS</h4>
							<div class="row">
								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5>ACTIVE USERS</h5>
										</div>
										<div class="row centerAlign">
											<h1 style="color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>231</strong>
											</h1>
										</div>

									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">

										<div class="row centerAlign" id="month">
											<div style="width: 60%; margin: 0 auto">
												<a href="" style="float: right;"> Month </a> <a href=""
													style="float: left;">Year</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5 style="text-align: center;" title="AVERAGE ACTIVE SCORE">ACTIVE
												SCORE</h5>
										</div>
										<div class="row centerAlign">
											<h1
												style="text-align: center; color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>43</strong>
											</h1>
										</div>

									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">
										<div class="row centerAlign" id="month">
											<div style="width: 60%; margin: 0 auto">
												<a href="" style="float: right;"> Average </a> <a href=""
													style="float: left;">Range</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5 style="text-align: center;"
												title="AVERAGE RATE OF IMPROVEMENT">IMPROVEMENT</h5>
										</div>
										<div class="row centerAlign">
											<h1
												style="text-align: center; color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>132</strong>
											</h1>
										</div>


									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">
										<div class="row centerAlign" id="month">
											<div style="width: 65%; margin: 0 auto">
												<a href="" style="float: right;"> Male </a> <a href=""
													style="float: left;">Female</a>
											</div>
										</div>
									</div>
								</div>

							</div>
							<br />
							<div class="row ">
								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5 style="text-align: center;">GENDER RATIO</h5>
										</div>
										<div class="row centerAlign">
											<h1
												style="text-align: center; color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>24%</strong>
											</h1>
										</div>

									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">
										<div class="row centerAlign" id="female">
											<div style="width: 60%; margin: 0 auto">
												<a href="" style="float: right;"> Female </a> <a href=""
													style="float: left;">Male</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5 style="text-align: center;">AVG.AGE</h5>
										</div>
										<div class="row centerAlign">
											<h1
												style="text-align: center; color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>24</strong>
											</h1>
										</div>

									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">
										<div class="row centerAlign" id="female">
											<div style="width: 65%; margin: 0 auto" class="avgAge">
												<div>
													<a href=""> 18- </a>
												</div>
												<div>
													<a href="">19-39</a>
												</div>
												<div>
													<a href="">40+</a>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="col-md-12" style="background-color: #F4F4F4">
										<div class="row centerAlign">
											<h5>TOP 10%</h5>
										</div>
										<div class="row centerAlign">
											<h1 style="color: #2085B8; margin-top: 0px; font-size: 4em">
												<strong>23</strong>
											</h1>
										</div>


									</div>
									<div class="col-md-12"
										style="background-color: #F4F4F4; margin-top: 3px">
										<div class="row" id="female">
											<div style="width: 65%; margin: 0 auto">
												<a href="" style="float: right;"> Male </a> <a href=""
													style="float: left;">Female</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>




					<div class="col-md-4" id="activityFeed">
						<h4>ACTIVITY FEED</h4>

						<div class="col-md-12">
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="firstName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="firstScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="firstMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="firstPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="firstStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="firstEndurance">
										Endurance: <b></b>
									</p>


								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="firstDate">4/20/2017 , 8:35PM</p>
							<br />


							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="secondName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="secondScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="secondMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="secondPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="secondStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="secondEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="secondDate"></p>
							<br />
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="thirdName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="thirdScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="thirdMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="thirdPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="thirdStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="thirdEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="thirdDate"></p>
							<br />
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="fourthName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="fourthScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4" style="background-color: #F4F4F4">
									<p style="font-size: 11px;" id="fourthMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="fourthPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="fourthStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="fourthEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="fourthDate"></p>
							<br />
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="fifthName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="fifthScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="fifthMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="fifthPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="fifthStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="fifthEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="fifthDate"></p>
							<br />
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="sixthName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="sixthScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="sixthMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="sixthPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="sixthStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="sixthEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="sixthDate"></p>
							<br />
							<div class="row" style="background-color: #F4F4F4">
								<div class="col-sm-3 activity">
									<img th:src="@{/images/user.png}" class="img-circle"
										alt="User" width="70" height="70">
								</div>
								<div class="col-sm-5">
									<h4 style="color: black;" id="seventhName">
										<b></b>
									</h4>

									<p style="font-size: 11px;" id="seventhScore">
										TRAKscore: <b></b>
									</p>
								</div>
								<div class="col-sm-4">
									<p style="font-size: 11px;" id="seventhMovement">
										Movement: <b></b>
									</p>
									<p style="font-size: 11px;" id="seventhPower">
										Power: <b></b>
									</p>
									<p style="font-size: 11px;" id="seventhStrength">
										Strength: <b></b>
									</p>
									<p style="font-size: 11px;" id="seventhEndurance">
										Endurance: <b></b>
									</p>
								</div>
							</div>
							<p style="font-size: 12px; font-family: Calibri; margin-top: 0px"
								id="seventhDate"></p>
							<br />
						</div>
					</div>
				</div>
			</div>
		</div>

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/dashboard.js}" type="text/javascript"></script>
	

</body>

</html>