@import url('https://fonts.googleapis.com/css?family=Orbitron');

.progressbar__label{
    color: #2085B8 !important;
    font-family: Orbitron !important;
    font-weight: bold;

}



.progressbar_linelabel{
	
	color: black !important;
	font-family: Montserrat !important;
}

.chart-wrapper{
	padding-top:40px !important;
	padding-left:10px;
}



.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

h4,h2 {
	font-family: Orbitron;
	font-weight: bold;
}

